<div class="large-9 push-3 columns">

<h1 class="subheader"><small> Add Members to your Deadline Requirement! </small></h1>

    <table style="margin-left: 20px;">
    <tbody>
        <tr>
            <th style="text-align:right;"><small>Project Name:</small></th>
            <th><h4>  <%= @project.name %></h4></th>
        </tr>
        <tr>
            <th style="text-align:right;"><small>Deadline Title:</small></th>
            <th><h5>  <%= @deadline.title %></h5></th>
        </tr>
    </tbody>
    </table>


<div class="seperator-medium spm-light"></div>

    <%= render 'append_members_form' %>

<div class="seperator-medium spm-dark"></div>

<div>
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', @project %>
</div>

</div>

