<div class="large-9 push-3 columns">

<h1>Deadlines</h1>

<table>
  <thead>
    <tr>
      <th>Created By</th>
      <th>Project Name</th>
      <th>Description</th>
      <th>Due date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deadlines.each do |deadline| %>
      <tr>
        <td><%= link_to Member.find(deadline.m_id).name, Member.find(deadline.m_id) %></td>
        <td><%= link_to  Project.find(deadline.p_id).name, 
                Project.find(deadline.p_id) %></td>
        <td><%= deadline.description %></td>
        <td><%= deadline.due_date %></td>
        <td><%= link_to 'Show', deadline %></td>
        <td><%= link_to 'Edit', edit_deadline_path(deadline) %></td>
        <td><%= link_to 'Destroy', deadline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_member && @project && current_member.id == @project.manager_id %>
  <%= link_to 'New Deadline', new_deadline_path %>
<% end %>

</div>