<div class="large-9 push-3 columns">

<p id="notice"><%= notice %></p>

<p>
    <% if @deadline.members %>
    <strong>Members:</strong>
        <% @deadline.members.each do |member| %>
            <%= member.name %>
        <% end %>
    <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deadline.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @deadline.due_date %>
</p>

<div>
<%= link_to 'Edit', edit_deadline_path(@deadline) %> |
<%= link_to 'Back', deadlines_path %>
</div>

</div>