<div class="large-9 push-3 columns">

<p id="notice"><%= notice %></p>

<p>
    <% if @deadline %>
    <strong>Assigned to Members:</strong>
        <% @deadline_members.each_with_index do 
            |member, index| %>
              <%= member.name %><% if index != @deadline_members.length-1 %>,
              <% end %>
        <% end %>
    <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @deadline.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deadline.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @deadline.due_date %>
</p>

<div>
<%= link_to 'Edit', edit_deadline_path(@deadline) %> |
<%= link_to 'Back', deadlines_path %>
</div>

</div>