<table>
    <tbody>
        <tr class="tr-head">
   
        </tr>
        <tr>
            <td style="text-align:right;"><strong>Project Name:</strong></td>
            <td><%= @project.name %></td>
        </tr>
        <tr>
            <td style="text-align:right;"><strong>Due Date:</strong></td>
            <td><%= @project.expected_due_date %></td>
        </tr>
        <tr>
            <td style="text-align:right;"><strong>Expected Completion Date:</strong></td>
            <td><%= @project.expected_due_date %></td>
        </tr>
        <tr>
            <td style="text-align:right;"><strong>Manager:</strong></td>
            <td><%= Member.find(@project.manager_id).name  %></td>
        </tr>

        <% if @project.url && @project.url != "#" %>
        <tr>
            <td style="text-align:right;"><strong>URL:</strong></td>
            <td><%= link_to "Link to: " + @project.name, @project.url %></td>
        </tr>
        <% end %>

    </tbody>
</table>