<!-- Add Members to your project -->

<%= simple_form_for(@project, method: :post, url: "add_members") do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <table>
    <thead>
        <tr bgcolor="#AFAFAF">
            <th style="text-align:right;">Select</th>
            <th>Member</th>
        </tr>
    </thead>
    <tbody>
        <% @members.each do |member| %>
            <tr>
                <td style="text-align:right;">
                    <%= check_box_tag "project[#{member.id}]" %> <br />
                </td>
                <td><%= member.name %></td>
            </tr>
        <% end %>
    </tbody>
    </table>
  </div>

  <div class="form-actions">
    <%= f.submit "Add Members To Project", class: "button" %>
  </div>

<% end %>
