
<div class="large-9 push-3 columns">



    <h1>Project Details</h1>
    <div class="seperator-small spm-dark"></div>
    <p id="notice"><%= notice %></p>

    <%= render "show_project_summary" %>


    <div class="seperator-small" style="opacity: 0.65;"></div>
    <h2>Members</h2>
    <%= render "show_project_members" %>
    <div>
    <%= link_to 'Add Members', "/projects/#{@project.id}/show_members" %>
    </div>
    <br>

    <div class="seperator-small" style="opacity: 0.45;"></div>
    <h2>Deadlines</h2>
    <%= render @project.deadlines %>
    <div>
    <%= link_to 'New Deadline', new_deadline_path %>
    </div>
    <br>

    <div class="seperator-small" style="opacity: 0.18;"></div>
    <div style="height:10px;"></div>
    <div>
        <%= link_to 'Edit', edit_project_path(@project) %> |
        <%= link_to 'Back', projects_path %>
    </div>

</div>