<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @member_project_grouping.id %>
</p>

<p>
  <strong>M:</strong>
  <%= @member_project_grouping.m_id %>
</p>

<p>
  <strong>P:</strong>
  <%= @member_project_grouping.p_id %>
</p>

<%= link_to 'Edit', edit_member_project_grouping_path(@member_project_grouping) %> |
<%= link_to 'Back', member_project_groupings_path %>
