<table>
<thead>
    <tr class="tr-head">
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <% if @deadlines.length != 0 %>
            <th></th>
            <th></th>
            <th></th>
        <% end %>
    </tr>
</thead>
<tbody>
    <% @deadlines.each do |deadline| %>
        <tr>
            <td><%= link_to Member.find(deadline.m_id).name, Member.find(deadline.m_id) %></td>
            <td><%= deadline.title %></td>
            <td><%= deadline.description %></td>
            <td><%= link_to 'Show', deadline %></td>
            <td><%= link_to 'Edit', edit_deadline_path(deadline) %></td>
            <td><%= link_to 'Delete', "/deadlines/#{deadline.id}", method: :delete %> </td>
        </tr>
    <% end %>
</tbody>
</table>