<div class="large-9 push-3 columns">

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.type %></td>
        <td><%= link_to 'Show', member %></td>

        <% if member.id == current_member.id %>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
          <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to 'Create New Profile', new_member_path, class: "button alert" %>
</div>

</div>