
<div class="large-9 push-3 columns">

  <h1><%= @member.name.split(" ").each{|w|
              w.capitalize
          }.join(" ") %>'s Profile 

  <% if @member.type == "manager" %>
      <small>(Project Manager)</small>
  <% else %>
      <small>(Member)</small>
  <% end %>

  </h1>

  <p id="notice"><%= notice %></p>


  <table>
    <tbody>
        <tr>
            <td style="text-align:right;"><strong>Name:</strong></td>
            <td><%= @member.name %></td>
        </tr>
        <tr>
            <td style="text-align:right;"><strong>Email:</strong></td>
            <td><%= @member.email %></td>
        </tr>
        <tr>
            <td style="text-align:right;"><strong>Member Type:</strong></td>
            <td>
              <% if @member.is_project_manager %>
                "Manager"
              <% else %>
                "Member"
                <small >
                  <% if !current_member.is_project_manager %>
                  <%= link_to '(Upgrade to PM)', edit_member_path(current_member), style: "color:red;" %>
                  <% end %>
                </small>

              <% end %>
            </td>
        </tr>
        <% if !@member.is_project_manager %>
        <tr>
            <td style="text-align:right;"><strong>Managers' Names:</strong></td>
            <td>
                <% Member.joins(" LEFT OUTER JOIN member_project_groupings 
                       ON member_project_groupings.m_id = #{@member.id}")
                      .joins("LEFT OUTER JOIN projects 
                       ON member_project_groupings.p_id = projects.id")
                      .where("members.id = projects.manager_id")
                      .each do |manager| %>
                <%= manager.name %>
              <% end %>
            </td>
        </tr>
        <% end %>
        <tr>
            <td style="text-align:right;"><strong>Projects:</strong></td>
            <td><%= link_to 'Click To View Projects!', "/members/#{@member.id}/projects" %></td>
        </tr>
    </tbody>
</table>

  <div>
    <%= link_to 'Back', members_path %> |
    <%= link_to 'Edit', edit_member_registration_path %>
    <% if current_member.id == @member.id %>
        | <%= link_to 'Destroy', current_member, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

  </div>

</div>